.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "kiwi maru";
    font-style: normal;
    font-weight: 550;
    margin-left: 10rem;
    margin-top: 5rem;
    color: dimgray;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "kiwi maru";
    margin: 2rem;
    width: 200%;
  }

  .header {
    display: flex;
    align-items: center; 
    background-color: rgba(255,255,255,0.4);
    width: 55rem;
  }
  
  .image {
    width: 20%; 
    height: auto; 
  
  }

  .buttonStyle {
    background-color: #f4d6b8;
    width: 7rem;
    border-radius: 3px;
  }

  .item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
  }  
    
  .png {
    width: 100px; 
  height: auto; 
  margin-right: 10px; 
  }
  