/* styles/animation.module.css */
@keyframes wateringAnimation {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-20px) rotate(10deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }
  
  .watering-can {
    animation: wateringAnimation 2s infinite;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Hannari";
    font-style: normal;
    font-weight: 550;
    margin-left: 10rem;
    color: dimgray;
  }

  .smallImage {
    width: 70%;
    height: auto;
  }