/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* その他のスタイルを追加 */

body{
  background-image: url('../public/maru53.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

